PRIVATE_KEY=0xYOUR_DEPLOYER_PRIVATE_KEY
INJECTIVE_TESTNET_RPC_URL=https://k8s.testnet.json-rpc.injective.network/
INJECTIVE_MAINNET_RPC_URL=https://sentry.evm-rpc.injective.network/
INJECTIVE_TESTNET_CHAIN_ID=1439
INJECTIVE_MAINNET_CHAIN_ID=1776
